/* .project{
    padding: 30vh 0;
}
.icon{
    font-size: 50px;
} */

.card{
    border-radius: 16px;
}
.mapouter {
    position: relative;
text-align: right;
}
.gmap_canvas {
    overflow: hidden;
background: none!important;
}

#gmap_canvas
{
    width:100%;
    height:300px;
}