body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.btn-blue {
  color: #fff!important;
  background-color: #0466C8!important;
}
.btn-blue:hover {
  color: #fff!important;
  background-color: #002855!important;
}

.background{
  background-color: #1B262C;
}
/* .background2{
  background-color: #131a20;
}
.background3{
  background-color: #1d2730;
} */

/* text-modification */
.textbold{
  font-weight: 700!important;
}
.textsemibold {
  font-weight: 500;
}

.textmedium {
  font-weight: 400!important;
}

.text-blue{
  color:#0F4C75;
}